* {
  font-family: arial, sans-serif;
  color: grey;
  text-align: center;
}

body {
  border-top: 22px solid orange;
}

img {
  max-width: 400px;
  padding: 5px;
  margin: 5px;
  border: 2px solid grey;
}

img:hover {
  border: 2px solid orange;
}
