* {
  font-family: arial, sans-serif;
  color: grey;
  text-align: center;
}

body {
  border-left: 22px solid orange;
}

h1 {
  margin: 0;
  padding-top: 20px;
}

button {
  background: orange;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 34px;
  padding: 10px;
  margin: 10px;
}

#placeholder img {
  max-width: 400px;
  padding: 5px;
  margin: 5px;
  border: 2px solid grey;
  background: white;
}

.lg-outer * {
  text-align: left;
}